@keyframes animate {
  0% {
    transform: translateY(-60%) scale(0.1) translateX(50%);
  }
  100% {
    transform: translateY(-60%) translateX(35%) scale(0.001);
    opacity: 0;
  }
}
@keyframes move {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}
@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
html, body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  font-family: "Abel", sans-serif;
  background-color: #082c30;
}

nav {
  position: fixed;
  border: 1px solid black;
  width: 100%;
  top: 0;
  background-color: black;
  color: white;
  z-index: 1;
}
nav .bottom_border {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-image: linear-gradient(to right, #143740, #286E80, #3BA4BF, #47C5E6, #4FDBFF);
  animation: move 10s linear infinite;
  animation-fill-mode: both;
}
nav .bottom_border1 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-image: linear-gradient(to right, #143740, #286E80, #3BA4BF, #47C5E6, #4FDBFF);
  animation: move 10s linear infinite;
  animation-fill-mode: both;
  animation-delay: 5s;
}
nav .nav_bar:hover li {
  filter: blur(3px);
  transform: scale(1.1);
  transition: 500ms;
}
nav .nav_bar li:hover {
  filter: blur(0);
  transform: scale(1.3);
  transition: 500ms;
}
nav ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  text-transform: uppercase;
  padding: 3px 0;
}
nav .fa-shopping-cart span {
  margin-left: 15px;
}
nav .fa-shopping-cart:hover {
  cursor: pointer;
}
nav .items_cart {
  left: 75%;
  top: 84%;
  border: 1px solid black;
  position: absolute;
  display: flex;
  flex-flow: column;
  color: black;
  padding-right: 75px;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: 1s;
  border-radius: 10px;
}
nav .items_cart li {
  position: relative;
  margin: 5px 0 5px 20px;
  color: white;
}
nav .items_cart li:hover {
  transform: scale(1);
}
nav .items_cart li img {
  position: absolute;
  width: 20px;
  height: 20px;
  left: 105%;
  z-index: 1;
}
nav .items_cart li i {
  position: absolute;
  left: 140%;
  color: red;
  z-index: 1;
}
nav .items_cart li i:hover {
  cursor: pointer;
}

.shop_container {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(5, 17%);
  position: absolute;
  top: 15%;
  justify-content: center;
  grid-gap: 1rem;
  background-image: linear-gradient(to top, #88F9D4, #18C29C, #0B877D, #126872, #0f545c, #0b4046, #082c30);
}
.shop_container .item_container {
  position: relative;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-radius: 20px;
}
.shop_container .item_container:hover {
  transform: scale(1.05);
  transition: 500ms;
}
.shop_container .item_container:hover img {
  transition: 1s;
  filter: blur(2px);
  opacity: 0.5;
}
.shop_container .item_container:hover p {
  transition: 1s;
  opacity: 1;
}
.shop_container .item_container:hover h3 {
  transition: 1s;
  opacity: 1;
}
.shop_container .item_container img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 0;
}
.shop_container .item_container h3, .shop_container .item_container p {
  opacity: 0;
  z-index: 1;
  color: white;
}
.shop_container .item_container h3:hover {
  cursor: pointer;
}

.item_container::after {
  content: "";
  position: absolute;
  background-color: whitesmoke;
  top: -52%;
  width: 10vh;
  height: 10vh;
  transform: rotate(45deg);
  border: none;
}

.item_container:hover::after {
  transform: rotate(45deg);
  top: -21%;
  transition: 500ms;
}

.active {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  animation: animate 1s linear;
  animation-fill-mode: both;
}

.home_image {
  position: absolute;
  top: 25%;
  right: 0;
  width: 40vw;
  height: 70vh;
  transform: rotateY(180deg);
}

.text_container {
  width: 100vw;
  height: 100vh;
  background-image: radial-gradient(#43cea2, #185a9d);
  position: fixed;
  top: 0;
  left: 0;
  color: white;
}
.text_container .text {
  margin: 20vh 0 0 5vw;
  height: 75%;
  width: 45%;
}
.text_container .text h1 {
  font-size: 4.5rem;
  font-weight: bold;
  text-transform: uppercase;
  animation: fade 1s ease-in-out;
}
.text_container .text p {
  font-size: 1.1rem;
  animation: fade 1s ease-in-out;
}
.text_container .nike_image {
  position: absolute;
  top: 13%;
  left: 30%;
  width: 15%;
  height: 30%;
  animation: fade 1s ease-in-out;
}

.contact_info {
  width: 100%;
  height: 20vh;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  position: absolute;
  top: 40%;
  left: 0;
  font-size: 5rem;
  display: grid;
  grid-template-columns: repeat(4, 5%);
  justify-content: space-around;
  align-items: center;
}
.contact_info:hover i {
  transform: scale(1.1);
  filter: blur(3px);
  transition: 500ms;
}
.contact_info i {
  display: flex;
  justify-content: center;
  cursor: pointer;
}
.contact_info i:hover {
  transform: scale(1.3);
  filter: blur(0);
  transition: 500ms;
}
.contact_info i:nth-of-type(1) {
  color: blue;
}
.contact_info i:nth-of-type(2) {
  color: crimson;
}
.contact_info i:nth-of-type(3) {
  color: #833ab4;
}
.contact_info i:nth-of-type(4) {
  color: lightblue;
}

footer {
  background-color: black;
  width: 100%;
  height: 3vh;
  z-index: 2;
  position: fixed;
  bottom: 0;
}
footer .bottom_border {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-image: linear-gradient(to right, #4FDBFF, #47C5E6, #3BA4BF, #286E80, #143740);
  animation: move 10s linear infinite reverse;
  animation-fill-mode: both;
}
footer .bottom_border1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-image: linear-gradient(to right, #4FDBFF, #47C5E6, #3BA4BF, #286E80, #143740);
  animation: move 10s linear infinite reverse;
  animation-fill-mode: both;
  animation-delay: 5s;
}

/*# sourceMappingURL=style.css.map */
